<html>
    <head>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    </head>

    <body>
        <h1>Deploy Logs</h1>
        <div class="container"></div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Application</th>
                        <th>Environment</th>
                        <th>Tag</th>
                        <th>Deployer</th>
                    </tr>
                </thead>
                <tbody>
                <% deploy_logs.each do |log| %>
                    <td><%= log['created_at'] %> </td>
                    <td><%= log['application'] %> </td>
                    <td><%= log['environment'] %> </td>
                    <td><a href=https://github.com/sharethrough/<%= log['application'] %>/commit/<%= log['tag'] %>><%= log['tag']%></a></td>
                    <td><%= log['deployer'] %> </td>
                    <tr>
                <% end %>
                </tbody>
            </table>
        </div>
    </body>
</html>